* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f4fbcb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 350px;
    background: #c1c972;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    margin-bottom: 15px;
}

#searchInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
    margin-bottom: 20px;
}

ul {
    list-style: none;
}

li {
    padding: 10px;
    background: #eaeaea;
    margin-bottom: 10px;
    border-radius: 5px;
}
